/* General */
:root{
    --color-fondo-AzulPrincipal:#1032f3f1;
    --color-letras-Blanco: #ffffffdc;
    --color-letra:#333;
    --color-fondo-body:#f4f4f4;
    --color-fondo-barraNavegacion:#e7e7e7;
    --color-sombra-barraNavegacion:rgba(0, 0, 0, 0.1);
    --color-letras-barraNavegacion: #043042;
    --color-borde-tabla:#90CAF9;
    --color-fondo-tabla:#1565C0;
    --color-fondoFila-tabla:#E3F2FD;
    --color-enlaces:#0000;
    --color-resaltadoIndice:#f443f4fe;
}
header {
    background-color: var(--color-fondo-AzulPrincipal);
    color: var(--color-letras-Blanco);
    padding: 20px;
    text-align: center;
}

body {
    margin: auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--color-fondo-body);
    color: var(--color-letra);
    padding:20px;
}


h1 {
    margin: 0;
    color: var(--color-letras-Blanco);
}

main {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 20px;
} 

.sidebar-nav {
    width: 200px; /* Ancho de la barra de navegación */
    background-color: var(--color-fondo-barraNavegacion);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--color-sombra-barraNavegacion);
    margin-top: 20px;
    position: sticky;
    top: 20px; /* Se mantiene visible a 20px desde la parte superior de la ventana */
    align-self: flex-start; /* Alineación para que no se expanda con el contenido */
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
}

.sidebar-nav li {
    margin-bottom: 10px;
}

.sidebar-nav a {
    color: var(--color-letras-barraNavegacion);
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 3px;
}

.sidebar-nav a:hover {
    background-color: var(--color-fondo-AzulPrincipal);
    color: var(--color-letras-Blanco);
}

.content {
    flex-grow: 1;
    padding: 20px;
    background: var(--color-letras-Blanco);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--color-letra);
}

/* Estilo para el índice alfabético */
.indice {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.indice ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.indice ul li {
    margin: 5px;
}

.indice ul li a {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--color-fondo-AzulPrincipal);
    color: var(--color-letras-Blanco);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    width: 40px; /* Ancho fijo para centrar cada letra */
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.indice ul li a:hover {
    background-color: var(--color-resaltadoIndice);
    color: var(--color-fondo-AzulPrincipal);
}

table, th, td {
    border: 2px solid var(--color-borde-tabla); /* Azul claro para los bordes */
    border-collapse: collapse; /* Evita la duplicación de bordes */
}

th {
    background-color: var(--color-fondo-tabla); /* Azul oscuro */
    color: var(--color-letras-Blanco); /* Texto blanco */
    padding: 10px; /* Espacio dentro de las celdas */
    text-align: left;
}

td {
    padding: 8px; /* Espacio dentro de las celdas */
    text-align: left;
}

/* Hover sobre la fila completa */
tr:hover {
    background-color: var(--color-fondoFila-tabla); /* Azul muy claro al pasar el ratón sobre la fila */
}

#skip a
{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
 
#skip a:focus
{
position:static;
width:auto;
height:auto;
}

.nav-documentos {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 5px;
}

.nav-documentos a {
    display: block;
    margin: 5px 0;
    color: var(--color-letras-Blanco);
    font-weight: bold;
}


.documentos-accesibles, .documentos-no-accesibles {
    flex: 1;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    color: var(--color-letras-Blanco); /* Texto blanco */
}

.documentos-accesibles {
    background-color: #266229; /* Verde oscuro para mayor contraste */
}

.documentos-no-accesibles {
    background-color: #D32F2F; /* Rojo oscuro para mayor contraste */
}



/* Footer */
footer {
    background: var(--color-fondo-AzulPrincipal);
    color: var(--color-letras-Blanco);
    padding: 10px;
    text-align: center;
    width: 100%;
}
/* Enlaces */
a {
    color: #0077A7; /* Color para todos los enlaces */
    text-decoration: underline; /* Subrayar enlaces para mayor visibilidad */
    visibility: visible; /* Asegúrate de que esté visible */
    display: inline; /* Evita que esté oculto por 'none' */
}
footer a{
    color:  #FFDD00; /* Color para todos los enlaces */
    text-decoration: underline; /* Subrayar enlaces para mayor visibilidad */
}
header a{
    text-decoration:none;
}
/* Media Queries */
@media (max-width: 677px) {
    main {
        flex-direction: column;
    }
    .sidebar-nav {
        width: 100%;
        position: relative; /* Cambia a relativo para móviles */
        top: auto;
    }
    img {
        max-width: 100%;
        height: auto;
        /*Ocupar el contenedor sin deformarse*/
        object-fit: contain;
    }
}

@media (min-width: 769px) and (max-width: 980px) {
    main {
        flex-direction: row;
    }
    .sidebar-nav {
        width: 30%;
    }
    .content {
        width: 70%;
    }
}

@media (min-width: 981px) {
    main {
        flex-direction: row;
    }
    .sidebar-nav {
        width: 25%;
    }
    .content {
        width: 75%;
    }
}

/* También puedes ajustar el margen del iframe en pantallas pequeñas */
@media (max-width: 768px) {
    iframe {
        width: 100%; /* Se ajusta completamente al ancho del contenedor */
    }
}
