@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

/* Definición de la fuente y aumento del tamaño */
body {
    font-family: 'Atkinson Hyperlegible'; /* Cambia la fuente APTA PARA DISLEXIA*/
    font-size: 1.5em;
    line-height: 1.8;
    padding: 30px;
}

h1, h2, h3{
    font-size: 2em; /* Tamaños mayores para encabezados */
}

table, th, td {
    font-size: 1.1em;
}

/* Ajustes para evitar el amontonamiento en las tablas */
td {
    padding: 12px; /* Aumenta el padding interno de las celdas */
}
/* Enlaces */
a {
    color: #0077A7; /* Color para todos los enlaces */
    text-decoration: underline; /* Subrayar enlaces para mayor visibilidad */
}
footer a{
    color:  #FFDD00; /* Color para todos los enlaces */
    text-decoration: underline; /* Subrayar enlaces para mayor visibilidad */
}
a:hover {
    background-color: #ffffff; /* Color de fondo al pasar el ratón */
    color: #000; /* Cambia el color del texto al pasar el ratón */
}

/* Reglas para el footer */
footer {
    font-size: 1.1em; /* Aumenta el tamaño del texto del footer */
    padding: 15px; /* Aumenta el padding del footer */
}
