/* Modo noche: Colores generales */
body {
    
    background-color: #121212; /* Fondo oscuro */
    color: #E0E0E0; /* Texto gris claro */
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: Arial, sans-serif;
}

/* Encabezados */
h1, h2, h3 {
    color: #66C2FF; /* Texto blanco para los encabezados */
    font-size: 2rem;
}

/* Enlaces */
a {
    color: #66C2FF; /* Azul claro para los enlaces */
    text-decoration: underline;
}

a:focus, a:hover {
    background-color: #333;
    color: #FFF; /* Texto blanco al pasar el ratón */
}

/* Botones */
button {
    background-color: #444;
    color: #E0E0E0;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: 2px solid #66C2FF;
}

/* Formularios */
input, select, textarea {
    background-color: #1E1E1E;
    color: #E0E0E0;
    padding: 10px;
    font-size: 1.5rem;
    border: 2px solid #444;
}

input:focus, textarea:focus, select:focus {
    border-color: #66C2FF;
    outline: none;
}

/* Ajustes del header */
header {
    background-color: #1C1C1C;
    color: #FFFFFF; /* Texto blanco para el header */
    padding: 20px;
}

header a {
    color: #66C2FF;
}

header a:hover, header a:focus {
    background-color: #333;
    color: #FFF;
}

/* Pie de página */
footer {
    background-color: #1C1C1C;
    color: #FFFFFF; /* Texto blanco para el footer */
    padding: 10px;
    text-align: center;
}

/* Excepciones para imágenes y videos */
header img {
    filter: invert(1); /* Evitar la inversión de colores */
}

.sidebar-nav {
    background-color: #333; /* Fondo azul marino oscuro para la barra lateral */
    color: #FFFFFF; /* Texto blanco para mayor legibilidad */
}

.sidebar-nav a {
    color: #66C2FF; /* Enlaces en amarillo claro */
}

.sidebar-nav a:hover {
    background-color: #333;
    color: #FFF /* Cambia el color del texto al pasar el ratón para más contraste */
}

.content {
    background-color: #333; /* Fondo azul marino oscuro para el contenido */
    color: #FFFFFF; /* Texto blanco para el contenido */
}

table, th, td {
    border: 2px solid #66C2FF; /* Bordes en azul claro */
}

th {
    background-color: #1C1C1C; /* Fondo oscuro para las cabeceras de la tabla */
    color: #66C2FF; /* Texto azul claro para las cabeceras de la tabla */
}

td {
    background-color: #2A2A2A; /* Fondo gris oscuro para las celdas de la tabla */
    color: #E0E0E0; /* Texto gris claro para las celdas */
}