:root{
    --color-fondo-AzulPrincipal:#1C1C1C;
    --color-letras-Blanco: #ffffffdc;
    --color-letra:#333;
    --color-fondo-body:#121212;
    --color-borde-navegacion:#ff2dff;
    --color-fondo-enlaces:#51c6fcf1;
    --color-enlaces:#0000;
}